body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #E2D0BE;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #7D82B8;
    padding: 10px;
    margin: 0;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.logo {
    justify-self: flex-start;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10px;
    transition-duration: 0.3s;
}

.logo:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
}


.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#button-choice {
    margin: 15px 30px;
    padding: 15px 60px;
    background-color: transparent;
    border: solid;
    border-color: #632A50;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.3s;
}

#button-choice:hover {
    background-color: #632A50;
    color: white;
    box-shadow: 0 0 20px rgba(99, 42, 80, 0.5);
}

.score-result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 26px;
    font-weight: bold;
    margin-top: 100px;
    text-decoration: underline;
}

.scores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    margin-top: 30px;
    background-color: #7D82B8;
    color: white;
}

.scores-list {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.score-item {
    display: flex;
    width: 100px;
    height: auto;
    margin: 5px;
    padding: 0;
    align-items: center;
    justify-content: center;
}